@charset "UTF-8";

*{
    margin: 2px;
    width: 100%;
}

body{
    background-color: lightblue;
    text-align: center;
}

header, h1{
    margin: auto;
    width: 90vw;
}

main{
    background-color: antiquewhite;
    padding: 10px;
    padding-bottom: 15px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.344);
    width: 85vw;
    max-width: 550px;
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

h1{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.589);
    color: antiquewhite;
    font-size: 3em;
    padding: 15px;
    transition: width .1s, height .1s;
    transition-timing-function: ease;
}

h2{
    color: red;
    background-color: aliceblue;
    padding: 30px 10px;
    margin: 20px;
    width: 80vw;
}

p{
    font-size: 1.5em;
    padding: 2px;
    margin: 8px;
}

img{
    padding: 5px;
    width: 75vw;
    max-width: 450px;
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

a{
    color: rgb(143, 141, 140);
    text-decoration: none;
    font-weight: bold;
}

footer{
    font-size: 0.7em;
    color: rgb(143, 141, 140);
    width: 300px;
    margin: 20px auto;
    text-shadow: 0.5px 0.5px 1px #00000063;
}