@charset "UTF-8";

body{
    max-height: 800px;
}

h1{
    font-size: 4.5em;
    padding: 20px;
}

main{
    max-width: 700px;
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

span{
    display: inline;
}

img{
    max-width: 600px;
    transition: width .4s, height .4s;
    transition-timing-function: ease;
}